:root {
    /* Font family */
    font-family: "Poppins", sans-serif;

    /* Font sizes */
    --fs-xs: 0.75rem;
    --fs-sm: 0.875rem;
    --fs-base: 1rem;
    --fs-lg: 1.125rem;
    --fs-xl: 1.25rem;
    --fs-2xl: 1.5rem;
    --fs-3xl: 1.875rem;
    --fs-4xl: 2.25rem;
    --fs-5xl: 3rem;
    --fs-6xl: 3.75rem;

    /* Font weights */
    --fw-r: 400;
    --fw-el: 200;
    --fw-sb: 600;

    /* COLORS */
    /* Primary */
    --clr-primary-red: hsl(0, 78%, 62%);
    --clr-primary-cyan: hsl(180, 62%, 55%);
    --clr-primary-orange: hsl(34, 97%, 64%);
    --clr-primary-blue: hsl(212, 86%, 64%);
    /* Neutral */
    --clr-neutral-very-Dark-blue: hsl(234, 12%, 34%);
    --clr-neutral-grayish-blue: hsl(229, 6%, 66%);
    --clr-neutral-very-Light-gray: hsl(0, 0%, 98%);
}

/* General */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font: inherit;
}

img,
svg {
    display: block;
    max-width: 100%;
}

html {
    font-family: var(--ff-sans);
    font-size: 15px;
    font-weight: var(--fw-r);
    line-height: 1.5;
    color: var(--clr-neutral-grayish-blue);
}

h1,
h2,
h3,
h4 {
    line-height: 1.1;
}

body {
    background-color: var(--clr-neutral-light-grey);
}

/* Utilities */
.top-border-red {
    border-top: 3.5px solid var(--clr-primary-red);
}

.top-border-cyan {
    border-top: 3.5px solid var(--clr-primary-cyan);
}

.top-border-orange {
    border-top: 3.5px solid var(--clr-primary-orange);
}

.top-border-blue {
    border-top: 3.5px solid var(--clr-primary-blue);
}

@media screen and (min-width: 48em) {
    .cards-container {
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
    }

    .cards-container>div:nth-child(1) {
        grid-row: 1 / 3;
    }

    .cards-container>div:nth-child(3) {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .cards-container>div:nth-child(4) {
        grid-column: 3 / 4;
        grid-row: 1 / 3;
    }
}