<header>
  <div class="wrapper">
    <h1>
      Reliable, efficient delivery<br />
      <span>Powered by Technology</span>
    </h1>
    <p>
      Our Artificial Intelligence powered tools use millions of project data
      points to ensure that your project is successful
    </p>
  </div>
</header>

<style>
  header {
    text-align: center;
    padding-block: 4rem;
  }
  .wrapper {
    width: 85%;
    max-width: 520px;
    margin-inline: auto;
  }
  h1 {
    /* font-size: var(--fs-3xl); */
    font-size: 1.625rem;
    font-weight: var(--fw-el);
    line-height: 1.5;
  }
  h1 > span {
    font-weight: var(--fw-sb);
    color: var(--clr-neutral-very-Dark-blue);
  }
  header p {
    margin-block-start: 1rem;
  }

  @media screen and (min-width: 48em) {
    header {
      padding-block: 6rem;
      font-size: var(--fs-lg);
      padding-block-end: 3rem;
    }
    h1 {
      font-size: var(--fs-4xl);
      line-height: 1.3;
    }
  }
</style>
